<div class="wrapper fadeInDown" style="margin-top: 5%;">
    <div id="formContent">

        <h2>Edit user</h2>
        <div *ngIf="user">

            <div style="margin-bottom: 5%;">
                <div class="row">
                    <div class="col-sm-9">
                        <form #frmEditUser="ngForm" id="frmEditUser" novalidate (ngSubmit)="onSaveUser()" novalidate>
                            <div class="row">
                                <label class="control-label col-sm-3" for="txtName">Name:</label>
                                <div class="col-sm-5">
                                    <input id="txtName" type="text" class="form-control" [(ngModel)]="name" title="Name"
                                        placeholder="Enter a name ..." [ngModelOptions]="{standalone: true}" />
                                </div>
                                <label class="control-label col-sm-3" for="txtName">City:</label>
                                <div class="col-sm-5">
                                    <input id="txtName" type="text" class="form-control" [(ngModel)]="city" title="Name"
                                        placeholder="Enter a name ..." [ngModelOptions]="{standalone: true}" />
                                </div>
                                <label class="control-label col-sm-3" for="txtName">Age:</label>
                                <div class="col-sm-5">
                                    <input id="txtName" type="text" class="form-control" [(ngModel)]="age" title="Name"
                                        placeholder="Enter a name ..." [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button pButton type="submit" label="Update User" class="p-button-success"
                                    style="margin-bottom: 5%;margin-top:5%"></button>
                                <div class=" btn-group">
                                    <button (click)="onBack()" routerLink="/users" pButton type="button" label="Back"
                                        class="p-button-secondary"></button>
                                    <button (click)="reset()" pButton type="button" label="Reset"
                                        class="p-button-text"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>