<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            NGRX CRUD
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a routerLink="/users/create">Create newUser</a>
        <a (click)="logout()" style="margin-right: 10px;">Logout</a>
    </div>
</div>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usr of users | async">
            <td>{{usr.id}}</td>
            <td>{{usr.name}}</td>
            <td>{{usr.city}}</td>
            <td>{{usr.age}}</td>
            <td>
                <button routerLink="/users/detail/{{usr.id}}" pButton type="button" label="View"
                    class="p-button-warning"></button>
                <button routerLink="/users/edit/{{usr.id}}" pButton type="button" label="Edit"
                    class="p-button-help"></button>
                <button (click)="delete(usr.id)" pButton type="button" label="Delete" class="p-button-danger"></button>
            </td>
        </tr>
    </tbody>
</table>