<div class="wrapper fadeInDown" style="margin-top: 5%;">
  <div id="formContent">


    <form style="text-align: center" #frmUser="ngForm" id="frmUser" novalidate (ngSubmit)="onSaveUser()" novalidate
      style="margin-bottom: 5%">
      <div class="row">
        <h2>Create a newuser</h2>
        <br>
        <label for="fieldId">Name:</label>
        <input type="text" pInputText [(ngModel)]="user.name" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="row" style="margin-bottom: 1%">
        <label class="control-label col-sm-3" for="txtName">City:</label>
        <input type="text" pInputText [(ngModel)]="user.city" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="row" style="margin-bottom: 1%">
        <label class="control-label col-sm-3" for="txtName">Age:</label>
        <input type="text" pInputText [(ngModel)]="user.age" [ngModelOptions]="{ standalone: true }" />
      </div>

      <button style=" margin-right: 5px" pButton type="submit" label="Save User" class="p-button-success">
        Save
      </button>
      <br>
      <br>
      <button style="margin-right: 5px" (click)="onBack()" routerLink="/users" pButton type="button" label="Back"
        class="p-button-secondary">
        Back
      </button>
      <button style="margin-right: 5px" (click)="reset()" pButton type="button" label="Reset" class="p-button-text">
        Reset
      </button>
    </form>

  </div>

</div>