<div class="wrapper fadeInDown" style="margin-top: 10%;">
  <div id="formContent">
    <img src="./../../assets/cobrandingLogo.png" />
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <!-- <p-panel header="Login Example"> -->
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Email:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="email" class="form-control" name="email">
          </div>
          <div class="ui-grid-col-4">
            <div [hidden]="loginForm.controls['email'].valid || !loginForm.controls['email'].dirty"
              class="alert alert-danger" style="color: red;">
              Login is required
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Password:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="password" class="form-control" name="password">
          </div>
          <div class="ui-grid-col-4">
            <div [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty"
              class="alert alert-danger" style="color: red;">
              Password is required
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6" style="padding-bottom: 20px;">
            <button pButton type="submit" label="Submit" [disabled]="!loginForm.valid"
              style="width: 50%;margin-top:20px;"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
      <!-- </p-panel> -->
    </form>
  </div>
</div>