<div class="wrapper fadeInDown" style="margin-top: 5%;">
    <div id="formContent" style="margin-bottom: 5%;">
        <h2>View user</h2>
        <div *ngIf="user | async; let user;">

            <div class="row" style="margin-bottom: 5%;">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-9">ID: {{user.id}}</div>
                        <div class="col-sm-9"> Name: {{user.name}}</div>
                        <div class="col-sm-9"> City:{{user.city}}</div>
                        <div class="col-sm-9"> Age:{{user.age}}</div>
                    </div>
                    <div class="btn-group">
                        <button routerLink="/users" pButton type="button" label="Back" class="p-button-secondary"
                            style="margin-top: 5%;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>