/* You can add global styles to this file, and also import other style files */
// .p-button {
//     margin: 10px 10px 0px 10px !important;
// }
body {
    display: block;
    margin: 0px !important;
}